services:
  minio-setup:
      image: minio/mc:RELEASE.2025-08-13T08-35-41Z-cpuv1
      restart: "on-failure"
      depends_on:
        - minio
      env_file:
        - ../.env
      volumes:
        - ./minio:/opt/minio_setup_scripts:ro
      entrypoint: ["/opt/minio_setup_scripts/init_minio_bucket.sh"]
      networks:
        - analytical_mart_network

  minio:
      image: minio/minio:RELEASE.2025-09-07T16-13-09Z-cpuv1
      ports:
        - "9000:9000"
        - "9001:9001"
      env_file:
        - ../.env
      command: server --console-address :9001 /data
      volumes:
        - minio_data:/data
      healthcheck:
        test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/live"]
        interval: 10s
        timeout: 5s
        retries: 5
        start_period: 10s
      networks:
        - analytical_mart_network

  # metabase:
  #   image: metabase/metabase:v0.56.8.x
  #   container_name: superstore_metabase
  #   depends_on:
  #     clickhouse:
  #       condition: service_healthy
  #   ports:
  #     - "3000:3000"
  #   environment:
  #     MB_DB_TYPE: h2
  #     MB_DB_FILE: /metabase-data/metabase.db
  #     MB_PLUGINS_DIR: /plugins
  #   volumes:
  #     - ./metabase_data:/metabase-data
  #     - ./plugins:/plugins

  # dbt-docs:
  #   <<: *airflow-common
  #   container_name: dbt_docs_server
  #   working_dir: /opt/airflow/superstore_dbt
  #   command:
  #     - "bash"
  #     - "-c"
  #     - "dbt docs generate && dbt docs serve --host 0.0.0.0 --port 8001"
  #   ports:
  #     - "8001:8001"
  #   depends_on:
  #     clickhouse:
  #       condition: service_healthy
  #     airflow-init:
  #       condition: service_completed_successfully
  #   restart: always


volumes:
  minio_data:

networks:
  analytical_mart_network:
    external: true
